deprecated/
*/deprecated/
renewal/__pycache__/
simulations/
presentations/
figures/
.DS_Store
.RData
.Rhistory
*/.DS_Store
.ipynb_checkpoints/
*/.ipynb_checkpoints/
20240125_us_results/
data/who_ili_outputs/
data/VIW_FID.csv
manuscript/natcomms_correspondence/
manuscript/bayesian_results/
scripts/run_predistribute.py
scripts/run_tat_stockpile_varyTW-PEP.py
